* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #004940;
}

.hidden {
  display: none;
}

#app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 0.2fr;
  grid-template-areas: "header" "section" "footer";
  place-content: center;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  text-align: center;
  grid-area: header;
}

.header > .logo {
  margin-top: 1.6rem;
}

.header img {
  cursor: pointer;
  width: 200px;
  height: 120px;
}

.header > .title,
.header > .subtitle {
  background: linear-gradient(to top, #8cc7bf, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease-in-out;
}

.header > .title:hover,
.header > .subtitle:hover {
  background: linear-gradient(to bottom, #8cc7bf, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header > .title {
  font-size: 2.4rem;
  font-weight: 700;
}

.header > .subtitle {
  font-size: 1.2rem;
  font-weight: 400;
}

section {
  margin-top: 1rem;
  grid-area: section;
  display: flex;
  justify-content: center;
}

#form-sign-in,
#form-registration {
  flex-direction: column;
  gap: 0.3rem;
}

input {
  background-color: #f8f2f2;
}

input:focus {
  background-color: #ccc;
}

.input-matricula-create-wrapper,
.input-nome-create-wrapper {
  text-align: center;
}

.input-matricula-create-wrapper label,
.input-nome-create-wrapper label {
  display: block;
}

#obrigatorio {
  color: #ca0000;
}

.inputs-radio-wrapper {
  gap: 3.2rem;
}

.inputs-radio-wrapper .input-wrapper label {
  font-size: 1.2rem;
  font-weight: 500;
}

.input-matricula-create-wrapper label,
.input-nome-create-wrapper label {
  display: none;
}

input#matricula,
input#matricula-create,
input#nome-create {
  border: 2px solid black;
  border-radius: 6px;
  padding: 0.2rem 0.8rem;
  font-size: 1.3rem;
  max-width: 283px;
  outline: none;
  color: #000;
  text-align: center;
}

input::placeholder {
  text-align: center;
  font-size: 1.2rem;
  color: #00000078;
}

input#matricula-create::placeholder,
input#nome-create::placeholder {
  font-size: 1rem;
}

button:hover {
  opacity: 0.8;
}

button#btn-sign-in,
button#btn-registration {
  border: 2px solid black;
  background-color: #8c4a00;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  width: 283px;
}

.link-primeiro-acesso {
  text-align: center;
}

.link-voltar-index p {
  font-size: 1rem;
  color: #ccc;
}

.link-primeiro-acesso a,
.link-voltar-index a {
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
}

.link-primeiro-acesso a:hover,
.link-voltar-index a:hover {
  text-decoration: underline;
}

.footer {
  grid-area: footer;
  background-color: #333;
  padding: 1rem;
  text-align: center;
}

.footer p {
  font-size: 0.7rem;
  font-weight: 400;
}
