root {
  font-size: 62.5%; /* 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #009e0f;
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 3.2rem;
  text-align: center;
}

.header > .title {
  font-size: 3.2rem;
  font-weight: 700;
}

.header > .subtitle {
  font-size: 1.8rem;
  font-weight: 400;
}

section {
  margin-top: 2.4rem;
  margin-bottom: 30%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
}

.inputs-radio-wrapper {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.inputs-radio-wrapper .input-wrapper label {
  font-size: 1.2rem;
  font-weight: 500;
}

input#matricula {
  border: 2px solid black;
  border-radius: 6px;
  padding: 0.2rem 0.8rem;
  font-size: 1.3rem;
  max-width: 283px;
  outline: none;
  color: #000;
  text-align: center;
}

input#matricula::placeholder {
  text-align: center;
  font-size: 1.2rem;
  color: #00000078;
}

button#sign-in {
  border: 2px solid black;
  background-color: #b45f06;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.4rem;
  width: 283px;
}

.link-primeiro-acesso a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2rem;
}

.link-primeiro-acesso a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
